body, p, h1, ul, li, blockquote {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Volkorn", Georgia, serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%; /* Controla o tamanho das imagens, diminui de acordo c conteudo */
}


/* GRID GERAL */

.estrutura {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px; 

  /* uma pra sidenav(min 160px) - pra quando ficar pequeno nao diminuir mais ainda,
   outra conteudo, outra anuncio (que nesse caso é desejavel imagem de 300px)
  3fr pois é desejavel que o conteudo expanda 3 vezes mais que a sidenav */

  grid-template-areas: "header header header"
                      "sidenav content anuncios"
                      "footer footer footer"

  /* Agora é necessário posicionar os elementos */
}

/*HEADER */

.header {
  grid-area: header; /* Faz o header pegar de ponta-a-ponta */
 /* É interessante usar a mesma classe do nome do areas para facilitar */
  background: linear-gradient(135deg, #8844ee, #B07DFB);
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr auto; /* 1fr do logo e o menu auto, a marca cresceu de ponta-a-ponta */
  align-items: center; /* alinha o logo no centro do header  (align é vertical )*/
  /* Para alinhar o logo no canto esquerdo e o menu no canto direito usou-se o grid
  então na linha do header que pega de ponta-a-ponta criou-se um outro grid que não
  tem nada a ver com o do lado de fora */
  
}

.logo {
  max-width: 200px; /* sem isso o logo ficaria do tamanho bruto - gigante */
  /* Eaí o grid ia expandir, ficando inviável */
}

.header nav ul{
  /* o menu tem que ser display flex, tem que ficar um do lado do outro */
  display: flex;
  flex-wrap: wrap;
}

.header nav a {
  display: block;
  padding: 10px; /* Cria uma área de contato maior no menu, bom pro mobile */
  color: white;
  font-size: 1.125em;
  background: rgba(0,0,0, .1); /* Cria fundinho opaco nos botões do menu*/
  border-radius: 5px;
  transition: 0.1s; /* Não deixa a passada do mouse do botão com cara de anos 90 */
  /* o transition deve ser colocado aqui (no item) e não no hover, se nao só fará
  a animação uma vez */
}

.header nav a:hover {
  background: rgba(0,0,0, .5); /* Deixa o botão em destaque ao passar o mouse*/ 
}

.header li + li {
  margin-left: 30px
  /*
    Faz com que cria um espaço entre os botões do menu (li no html), e só os que 
    tem um li antes do li, ou seja cria um espaço entre o segundo e o terceiro botão
    o primeiro não porque se não ia invadir o espaço de outra coisa, então isso é um
    hack útil, o + signfifica todo li que aparecer depois de um li 
    (lê de trás pra frente), o primeiro li não adicionou a margin porque nao tem
    nenhum antes, e o .header pois essa regra se aplica apenas aos li que estão
    dentro da classe header
  */;
}

.sidenav {
  grid-area: sidenav;
}

.content {
  grid-area: content;
}

.anuncios {
  grid-area: anuncios;
}

.footer {
  grid-area: footer;
}

